{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h1>About This Demo</h1>
    <p>This Flask demo simplifies the process of searching for Wikipedia pages by utilizing the Wikipedia API to retrieve relevant information about queried topics.</p>
    <p>Incorporating Jinja HTML templates, it ensures better web page formatting without the need for hard-coded HTML in Python scripts. Moreover, the use of template inheritance allows for the reuse of template parts across multiple pages, ensuring consistency throughout the demo. The search functionality involves an HTML form submitted via the HTTP "post" method, with customized route handling to process the submitted data from the request object.</p>
{% endblock %}